nav{
    font-family: 'Cookie', cursive;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 20px;
}

.py-1{
    font-family: 'Cookie', cursive;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 15px;
}

.navbar-brand{
    font-size: 30px;
}
.col-lg-8{
    font-family: 'Satisfy', cursive;
}